

table {
  text-align: center;
  margin: 0 auto;
  border-collapse: collapse;
}

th,
td {
  padding: 10px 15px;
  border: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
}

.example-card {
  max-width: 400px;
  margin: 20px auto;
}

.example-card-footer {
  padding: 16px;
}
